<div class="wrapper__importer">
    <span class="header-text">Dapat nating isaalaala na tumatanggap lamang ang RKAligner ng .csv files. Maaari mo lamang ma download ang file naglalaman ng nakahanay na mga pangugusap kapag ito ay nasuri na ng aming mga eksperto sa wika o linggwista.</span>
      <input id="importer-filename" required type="text" placeholder="Pangalan ng file">
      <div class="uploader-group">
        <span id="sourceFile">Source file</span> <button id="sourceFilePickerBtn">pumili ng file</button>
      </div>
      <div class="uploader-group">
        <span id="targetFile">Target file</span> <button id="targetFilePickerBtn">pumili ng file</button>
      </div>
      <button class="import-button" onclick="handleImportFile()">IHANAY</button>
</div>